<!DOCTYPE html>
<html>

<head>
    <title>Admin Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="nav">
        <a href="/">Placement System</a>
        <a href="/admin-login">Admin Login</a>
    </div>

    <div class="form-card">

        <h1>Admin Login</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <p>Login to manage the placement system.</p>

        <form action="/admin-login" method="POST">

            <div class="form-group">

                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    required
                >

            </div>

            <div class="form-group">

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    required
                >

            </div>

            <button type="submit">
                Login
            </button>

        </form>

        <hr>

        <a href="/">
            Back to Student Login
        </a>

    </div>

</body>

</html>